* {
  margin: 0;
  padding: 0;
  font-family: "Noto Serif", serif;
}
body,
.homepage {
  background: url(/images/bethany-legg-75nbwHfDsnY-unsplash.jpg) no-repeat;
  background-size: cover;
  height: 500px;
  background-position: center;
}

.fixed-navbar {
  position: fixed;
  top: 0px;
  width: 100%;
}

.navbar-light .navbar-nav .nav-link {
  color: #927374;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #7a090d;
}

.navbar a {
  text-decoration: none;
}

.navbar-toggler-icon {
  border-color: #927374;
}
/*kommer ersättas*/
.navbar-logo {
  font-size: 20px;
  color: #927374;
}
.navbar-logo .line1 {
  font-size: 40px;
}

button {
  text-align: center;
  background-color: #527177;
  border: none;
  border-radius: 4px;
  padding: 8px 24px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  width: fit-content;
  margin-top: 8px;
  color: white;
}

button a {
  color: white;
  text-decoration: none;
}
button:hover,
button a:hover {
  background-color: #19383d;
  color: white;
}

.homepage .upper-content {
  margin-top: 250px;
  margin-bottom: 200px;
  max-width: 800px;
  text-align: center;
}

.homepage .upper-content h1 {
  font-size: 300%;
  margin-bottom: 100px;
}

.homepage .upper-content p {
  font-size: 125%;
}
