* {
  margin: 0;
  padding: 0;
  font-family: "Noto Serif", serif;
}
body {
  background: url(/images/bethany-legg-75nbwHfDsnY-unsplash.jpg) no-repeat;
  background-size: cover;
  height: 500px;
  background-position: center;
}

.fixed-navbar {
  position: fixed;
  top: 0px;
  width: 100%;
}

.navbar a {
  text-decoration: none;
}

.navbar-toggler-icon {
  border-color: #927374;
}

.logo-text {
  font-size: 30px;
  color: #927374;
}

.container {
  text-align: center;
}

.container-content {
  margin-top: 200px;
}

.container-content h1 {
  font-size: 350%;
  color: #927374;
}

.container-content p {
  font-size: 150%;
}

button {
  text-align: center;
  background-color: #527177;
  border: none;
  border-radius: 4px;
  padding: 8px 24px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  width: fit-content;
  margin-top: 8px;
  color: white;
}

button a {
  color: white;
  text-decoration: none;
}
button:hover,
button a:hover {
  background-color: #19383d;
  color: white;
}
.test {
  border: 2px solid black;
  margin-top: 1000px;
}
