/* *{
    border: 3px solid black;
    margin: 10px;
    padding: 20px;
} */
body {
  background-color: #e6eded;
  color: #19383d; /*Text-färg*/
}

h1 {
  font-family: "Noto Serif", serif;
  font-size: 300%;
}

a {
  text-decoration: none;
  color: #19383d;

  &:hover {
    color: white;
  }
}
.tjanster-active{
  font-weight: bolder;
}
.active {
  font-weight: bold;
  background-color: #527177 !important; 
  border: hidden;
}


.topbanner {
  background-image: url("images/office2.jpg");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  clip-path: polygon(50% 0%, 100% 0, 100% 86%, 75% 100%, 0 85%, 0 0);
}

.topbanner-navpage {
  opacity: 0.5;
}
.topbanner-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #4f5a57;
}

.my-column-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  //border: 3px solid red;
}

.my-card,
.my-image-card {
  margin-bottom: 25px;
  //border: 3px solid black;
  border: none;

  &:hover {
    display: block;
    height: 100%;
    width: 100%;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
    /*transition: all 0.3s;*/
    color: white;
    cursor: pointer;
    filter: drop-shadow(10px 10px 10px grey) grayscale(70%);
  }
}
button a.card-link:hover{
color: white;
}

.my-image-card {
  background: #e6eded;
  color: #19383d;
  margin-bottom: 21px;

  &:hover {
    display: block;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0);
    color: #4f5a57;
    
  }
  & a:hover{
    color: #4f5a57;
  }
}

.video {
  border-radius: 4px;
  size: 120%;
  overflow: hidden;
}
.quote-card {
  background-color: white;
  padding: 25px;
  text-align: center;
  align-items: center;
  margin-bottom: 25px;

  & p {
    font-size: 120%;
    font-style: italic;
  }
}
.img-mobile{
  visibility: hidden;
  height: 0;
  
}

/*Tjänster undersidor-------------------*/
.my-background{
  background-color: white;
  height: 650px;
  clip-path: polygon(50% 0%, 100% 0, 100% 86%, 75% 100%, 0 85%, 0 0);
}
.my-top-row-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:flex-end;
  padding-top: 5%;
  height: auto;
}

.image{
  width: 80%;
  border-radius: 4px;
  
}
.tjanst-img, .tjanst-rubrik-ingress{
  flex: 1 1 50%; 
  padding: 8% 0 0 0;
}

.my-row-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 2%;

  
}
.tjanst-brodtext-1, .tjanst-brodtext-2{
  flex: 1 1 50%;
  padding-right: 50px;
  text-align: justify;
}

.page-link{
  color: #19383d;
  &:hover{
    color: #19383d;
  }
}
/*Responsivitet*/
@media (max-width: 600px) {

  h1 {
    font-size: 35px;
  }
  .my-logo {
    width: 70%;
  }
  .navbar-nav{
    background-color: #f8f9fa;
    text-align: right;
    padding: 5px;
    width: 40%;
    border-radius: 5px;
  }
  
/*@media index.html-------------------*/
.topbanner {
  background-image: none;
  clip-path: none;
  margin-top: 100px;
  height: 400px;
}
.p-5 {
  padding: 5px !important;
}  
.my-card:hover, .my-image-card:hover{
    filter: none;
  }
  .img-laptop{
    visibility: hidden;
    height: 0;
  }
  .img-mobile{
    visibility:visible;
    height: fit-content;
    position: relative;
    //align-items: flex-start;
  }
  .card-title-coffee{
    color: white;
  }
  .card-title, .card-text{
    text-align: center;
  }

/*@ media Tjänster undersidor----------------*/
.my-background-webbsidor{
  position: relative;
  height: 450px;
  clip-path: polygon(50% 0%, 100% 0, 100% 86%, 75% 100%, 0 85%, 0 0);
}
.my-background-webbsidor:before{
  content: "";
  background-image: url("images/mobil.jpg");
  position:absolute;
  background-size: cover; 
  background-position: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  opacity: 0.3;
}

.my-background-databaser{
  position: relative;
  height: 450px;;
}
.my-background-databaser:before{
  content: "";
  background-image: url("images/desk.jpeg");
  position:absolute;
  background-size: cover; 
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; 
  z-index: -1;
  opacity: 0.3;
  clip-path: polygon(50% 0%, 100% 0, 100% 86%, 75% 100%, 0 85%, 0 0);
}

.my-background-mjukvaru{
  position: relative;
  height: 450px;;
}
.my-background-mjukvaru:before{
  content: "";
  background-image: url("images/dator.jpg");
  position:absolute;
  background-size: cover; 
  background-position: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  opacity: 0.2;
  clip-path: polygon(50% 0%, 100% 0, 100% 86%, 75% 100%, 0 85%, 0 0);
}

.my-background-csharp{
  position: relative;
  height: 450px;;
}
.my-background-csharp:before{
  content: "";
  background-image: url("images/typing-pic.jpg");
  position:absolute;
  background-size: cover; 
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  opacity: 0.3;
  clip-path: polygon(50% 0%, 100% 0, 100% 86%, 75% 100%, 0 85%, 0 0);
}

.my-background-javascript{
  background-color: #d1aba4;
  height: 450px;
  clip-path: polygon(50% 0%, 100% 0, 100% 86%, 75% 100%, 0 85%, 0 0);
}

.my-top-row-container, .my-row-container{
  flex-direction: column;
}

.my-row-container{
  margin-top: 30px;
}

.tjanst-rubrik-ingress{
  flex: 1 1 100%; 
  margin-top: 15%;
  padding: 5%;
  text-align: center;
  opacity: 1;
  & p{
    font-weight: bolder;
    padding: 4%;
  }
}
.tjanst-brodtext-1, .tjanst-brodtext-2{
  text-align: justify;
  padding: 0% 10% 0 10%;
}
.image{
  display: none;
}
}

@media (max-width: 500px) {
  .pagination{
    display:none;
  }
}