* {
    margin: 0px 0px 0px 0px;
    /*margin-left: 5;*/
    /*padding-left: 2px black;
    /*border-left: 10px inset black;*/
    border-left: 5px;
    /*background-color: gray;*/
}

div.c{
  border-right: 0px black;
}
div.test{
  /* set green border independently on each side */
  border-left: solid black 20px;
  border-right: solid black 20px;
}
div.a {
    font-size: 40px;
    background-color: white;
}
div.b  {
    border: 4px inset black;
}
div.d{
    background-color: black;
}
div.e {
    border-top: 170px solid rgb(218, 218, 218);
}

* {
    box-sizing: border-box;
  }
/*.column {
    float: left;
    width: 100%;
    padding: 10px ;
    border-left: 10px;

  }*/
.column2{
    float: left;
    width: 48%;
    padding: 10px ;
    /*padding: 10px black;*/
    border-left: 10px;
}
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  h1{
    background-color: white;
}
h4{
  background-color: gray;
}
h3 {
  font-family: "Open Sans";
  max-width:  400px;
  line-height:  10px auto;
  font-size:  36px;
}

.header{
  width: 100%;
  height: 40px;
  display: block;
  background-color: black;
}

.in_header{
  width: 1100px;
  height: 100%;
  display: block;
  margin: 0 auto;
  background-color: gray;

}
.navigering{
  float: right;
  height: 100%
}

.navigering a {
  height: 100%;
  display: table;
  float : left;
  padding: 0px 20px;
}

.navigering a li{
  display: table-cell;
  vertical-align: middle;
}
.rubrik{
  font-size: 36px;
}
.titel{
  font-size: 20px;
}
footer {
  display: block;
}