body {
  font-family:sans-serif;
  background-color:#474646
  
}

.testimotionals {
width:350px;
 display:inline-block;
  margin-left:50px;
  margin-top:50px
  
}


.testimotionals .card {
  
  position:relative;
  overflow:hidden;
  width:350px;
  margin:0 auto;
  background:#33383b;
  padding:20px;
  box-sizing:border-box; 
  text-align:center;
}
.testimotionals .card .layer {
  z-index:1;
  position:absolute;
  top:calc(100% - 2px);
  height:100%;
  width:100%;
  left:0;
  background:linear-gradient(to left , #19383d, rgb(117, 111, 109));
  transition:0.5s;
  
}

.testimotionals .card .content {
  z-index:2; 
  position:relative;
}

.testimotionals .card:hover  .layer{
  top:0;
}

.testimotionals .card .content p {
  font-size:14px;
  line-height:24px;
  color:#fff;
}
.testimotionals .card .content .image {
  width:100px; height:100px;
  margin:0 auto;
  border-radius:70%;
  overflow:hidden;
  border: 4px solid white;
  box-shadow: 0 10px 40px #19383d;
  
}

.testimotionals .card .conte nt .details h2 {
font-size:18px;
color:white;
}
.testimotionals .card .content .details h2 span {
font-size:18px;
color:rgb(179, 181, 182);
  transition:0.5s;
}
.testimotionals .card:hover .content .details h2 span {
  color:white;
  position:relative
}

/* footer */

footer{
  background-color: #19383d;
}
.my-footer{
  display: flex;
  flex-direction: row !important;
  color: white;
}

.my-footer-left, .my-footer-center, .my-footer-right{
  flex: 1 1 33.33%;
  padding: 55px 50px;
}

.my-footer a{
  color: white;
}